
#test {
  display: none;
}

.errorForm {
  font-size: 0.7em;
  color: red;
}

.table{
  font-family: Arial, sans-serif;
}

.table th{
  font-size: 24px;
  font-weight: bold;
}

.table td{
  font-size: 18px;
}

.btn{
  margin-left: 10px;
  background-color: grey;
  padding: 8px 18px;
  font-size: 20px;
  text-transform: uppercase;


}

.btn:hover{
  background-color: lightgrey;
}

.container{
  margin: 0 auto;
  width: 80%;
  padding: 100px 0px;
}

.btn{
  margin-left: 10px;
  background-color: grey;
  padding: 8px 18px;
  font-size: 20px;
  text-transform: uppercase;

}

.btn:hover{
  background-color: lightgrey;
}

.btn:hover{
  background-color: lightgrey;
}

.container{
  margin: 0 auto;
  width: 80%;
  padding: 100px 0px;
}



